<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Famille de produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <ion-list *ngFor="let famille of this.familles; let i = index">
    <ion-item button (click)="goDetail(famille.code)">
    <!-- <ion-item button (click)="updateFamille(famille)"> -->
      <ion-label>
        <h3>{{ famille.code }} : {{ famille.libelle }}</h3>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="setNewFamille()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
