<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label>Famille</ion-label>
      <ion-select formControlName="familles" placeholder="Choisir une famille">
        <ion-select-option *ngFor="let famille of familles" value="{{famille.code}}">{{ famille.libelle }}</ion-select-option>
      </ion-select>
    </ion-item>



    <ion-item>
      <ion-label position="stacked">Code</ion-label>
      <ion-input type="text" formControlName="code"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Libelle</ion-label>
      <ion-input type="text" formControlName="libelle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Prix (xpf)</ion-label>
      <ion-input type="text" formControlName="prix"></ion-input>
    </ion-item>
  <br>
  <ion-button type="submit" expand="block" fill="outline">Enregistrer</ion-button>

  </form>

</ion-content>
