<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2/article-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="slide-content">

  <br>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">


    <ion-slides #slides [options]="slideOpts" style="padding-top: 50%; padding-bottom: 50%;">

      <!-- SLIDE 1 -->
      <ion-slide >

        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Renseigner<br>le nom de l'article</h1>
              <h5>1/6</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input (click)="slideUn(slides)" oninput="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);" id="slideUn" type="text" placeholder="Ecrire ici" formControlName="libelle"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-slide>

      <!-- SLIDE 2 -->
      <ion-slide >

        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Choisir<br>une famille d'article</h1>
              <h5>2/6</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <!-- <ion-label>Famille</ion-label> -->
                <ion-select (click)="slideDeux(slides)" id="slideDeux" formControlName="familles" placeholder="Choisir une famille">
                  <ion-select-option *ngFor="let famille of familles" value="{{famille.code}}">{{ famille.libelle }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-slide>

      <!-- SLIDE 3 -->
      <!-- <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Choisir<br>un code article</h1>
              <h5>3/5</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input (click)="slidetrois(slides)" oninput="this.value=this.value.toUpperCase()" maxlength="3  " id="slidetrois" type="text" formControlName="code"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-slide> -->

      <!-- SLIDE 4 -->
      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Renseigner<br>le prix</h1>
              <h5>3/6</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input (click)="slideQuatre(slides)" id="slideQuatre" type="number" formControlName="prix"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-slide>

      <!-- SLIDE 4 -->
      <ion-slide >
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Associer un code barre</h1>
              <h5>4/6</h5>
              <br>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="pairWithABarreCode(slides)" color="primary">Oui</ion-button>
              <ion-button (click)="slideNext(slides)" color="danger">Non</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <!-- SLIDE 5 -->

      <ion-slide >

        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Choisir<br>un magasin</h1>
              <h5>5/6</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <!-- <ion-label>Famille</ion-label> -->
                <ion-select (click)="slideCinq(slides)" id="slideCinq" placeholder="Sélectionner un magasin" formControlName="magasins">
                  <ion-select-option *ngFor="let magasin of this.magasins" value="{{magasin}}">{{ magasin }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-slide>

      <!-- SLIDE 6 -->
    <ion-slide >
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Valider vos choix</h1>
            <h5>6/6</h5>
            <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary">Oui</ion-button>
            <ion-button color="danger">Non</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    </ion-slides>

  </form>

</ion-content>
