<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Paramètres généraux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Synchronisation</ion-label>
    </ion-item-divider>
    <ion-item button detail="true" (click)="synchroniser()">
      <ion-label>
        <h3>Synchroniser avec firebase</h3>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle [checked]="isOnline" (ionChange)="setModeOnline($event)">Mode Online</ion-toggle>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Général</ion-label>
    </ion-item-divider>
    <ion-item button detail="true" (click)="setmagasinParDefaut()">
      <ion-label>
        <h3>Magasin par défaut</h3>
        <p *ngIf="magasinParDefaut !== ''">{{magasinParDefaut}} est actuellement le magasin par défaut</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle [checked]="isCourseRapide" (ionChange)="setModeCourseRapide($event)">Mode course rapide</ion-toggle>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Statistiques</ion-label>
    </ion-item-divider>
    <ion-item button detail="true" routerLink="/historique-prix">
      <ion-label>
        <h3>Historique des prix</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="updateBudget()">
      <ion-label>
        <h3>Budget du mois : {{ montantBudget.toLocaleString() }} XPF</h3>
      </ion-label>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Sécurité</ion-label>
    </ion-item-divider>

    <ion-item button detail="true" routerLink="/utilisateur-liste">
      <ion-label>
        <h3>Utilisateurs</h3>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" routerLink="/utilisateur-groupes">
      <ion-label>
        <h3>Groupes</h3>
      </ion-label>
    </ion-item>

  </ion-item-group> 
  
  <ion-item-group> 
    <ion-item-divider>
      <ion-label>Console.log</ion-label>
    </ion-item-divider>
    <ion-item button detail="true" (click)="consoleLog('Courses')">
      <ion-label>
        <h3>Console.log : Course</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="consoleLog('CourseDetails')">
      <ion-label>
        <h3>Console.log : CourseDetails</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="consoleLog('Utilisateurs')">
      <ion-label>
        <h3>Console.log : Utilisateurs</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="consoleLog('Groupes')">
      <ion-label>
        <h3>Console.log : Groupes</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="consoleLog('Articles')">
      <ion-label>
        <h3>Console.log : Articles</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="consoleLog('Magasins')">
      <ion-label>
        <h3>Console.log : Magasins</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="consoleLog('Plats')">
      <ion-label>
        <h3>Console.log : Plats</h3>
      </ion-label>
    </ion-item>
  </ion-item-group> 
</ion-content>
