<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Paramètres généraux</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item button detail="true" (click)="SetmagasinParDefaut()">
    <ion-label>
      <h3>Magasin par défaut</h3>
      <p *ngIf="magasinParDefaut !== ''">{{magasinParDefaut}} est actuellement le magasin par défaut</p>
    </ion-label>
    <!-- <ion-icon name="information-circle" slot="end"></ion-icon> -->
  </ion-item>
  <ion-item button detail="true" (click)="synchroniser()">
    <ion-label>
      <h3>Synchroniser les données</h3>
    </ion-label>
    <!-- <ion-icon name="information-circle" slot="end"></ion-icon> -->
  </ion-item>

</ion-content>
