<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>

    <ion-title>Liste des utilisateurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  
  
  
  <ion-list *ngFor="let utilisateur of utilisateurs">
    <ion-item button detail="true">
      <ion-label>
        <h3>{{ utilisateur.libelle }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" >
    <ion-fab-button size="small" (click)="post()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
