<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Créer une liste de course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="slide-content">
  
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    
    
    
    <ion-slides #slides [options]="slideOpts" style="padding-top: 50%; padding-bottom: 50%;">

    <!-- SLIDE 1 -->
    <ion-slide >
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Choisir une date</h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-datetime id="dateinput" (click)="siDaterenseigneChangeSlide(slides)" formControlName="date" placeholder="Cliquez ici"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <!-- SLIDE 2 -->
    <ion-slide >

      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Ajouter les articles du<br>
              <kbd>menu de la semaine </kbd>
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="primary" (click)="loadInCourseMenuDeLaSemaine(slides)">Oui</ion-button>
            <ion-button color="danger" (click)="nextSlide(slides)">Non</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <!-- SLIDE 3 -->
    <ion-slide >

      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Souhaitez-vous ajouter des articles en fonction d'un<br>
              <kbd>Plat</kbd>
            </h1>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="primary" (click)="loadSlideListePlat(slides)">Oui</ion-button>
            <ion-button color="danger" (click)="nextSlide(slides)">Non</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <!-- SLIDE 4 -->
    <ion-slide *ngIf="hideSlidePlat">

      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Sélectionner un plat</h1>
            <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-button (click)="nextSlide(slides)" class="slidebtnNext" color="light">Suivant
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-button>
        </ion-row>
        <br>
        <br>
        <ion-row>
          <ion-list style="margin: 5%;width: 100%; height: 260px; overflow: scroll;">
            <ion-item *ngFor="let plat of plats; let index = index" id="test-{{index}}">
                <ion-icon (click)="loadArticleFromOnePlat(plat.codeArticle, index)" slot="end" name="add-circle-outline"></ion-icon>
              <ion-label>{{ plat.libelle }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <!-- SLIDE 5 -->
    <ion-slide>

      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Ajouter des articles</h1>
            <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-toolbar>
            <ion-searchbar formControlName="searchBar" [(ngModel)]="searchValue"></ion-searchbar>
          </ion-toolbar>
        </ion-row>

        <ion-row>

          <ion-list style="margin: 5%;width: 100%; height: 260px; overflow: scroll;">
            <ion-item id="testAricle-{{index}}" *ngFor="let article of (articles | articlesFilter : searchValue); let index = index">
                <ion-icon (click)="loadOneArticle(article, index)" slot="end" name="add-circle-outline"></ion-icon>
              <ion-label>{{ article.libelle }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-row>
      </ion-grid>

    </ion-slide>

    <!-- SLIDE 6 -->
    <ion-slide >
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Valider vos choix</h1>
            <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button color="primary" (click)="onSubmitSlide()">Oui</ion-button>
            <ion-button color="danger">Non</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>

  </form>


</ion-content>
