.slide-content{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    // height: 1500px;
    // background: chartreuse;
}

.addArticle{
    opacity: 0;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-name: addArt;
}

@keyframes addArt {
    0%   {
        opacity: 1;

    }
    100% {
        opacity: 0;
        display: none;
    }
  }
.slidebtnNext{
    position: absolute; right: 5%;
}