<ion-header>
  <ion-toolbar>
    <ion-title>Créer une liste de course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group>
    <ion-item-divider>
      <ion-label><h2>Informations générales</h2></ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Choisir une date</ion-label>
      <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Nom</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-item-group>


  <ion-item-group>
    <ion-item-divider>
      <ion-label><h2>Sélectionner un article</h2></ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>Ajouter un article</ion-label>
      <ion-select placeholder="Selectionner un article">
        <ion-select-option
          *ngFor="let article of articles"
          value="{{article.code}}">{{article.libelle}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Ajouter des articles à partir d'un plat</ion-label>
      <ion-select placeholder="Selectionner un plat">
        <ion-select-option 
          *ngFor="let plat of plats" 
          value="{{plat.libelle}}">
          {{ plat.libelle }}</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-item-group>
  <ion-item-group>
    <ion-item-divider>
      <ion-label>Liste des articles ajoutés</ion-label>
    </ion-item-divider>

  </ion-item-group>


</ion-content>
