<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Gestion des finances</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h3 style="text-align: center;">Total : {{ total }} xpf</h3>

  <!-- MODE WEB -->
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" (click)="post()" class="masquer-mode-mobile">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-finance-list (checkOutput)="getCheck($event)" (recalculeTotal)="calculeTotal()" class="masquer-mode-mobile" [finances]="sortByOrdreAsc(finances)"></app-finance-list>

  <!-- PARTIE MOBILE -->
  <ion-fab *ngIf="!isVisible" slot="fixed" horizontal="center" vertical="center" class="masquer-mode-web" >
    <ion-fab-button size="large" (click)="post()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom"  class="masquer-mode-web">
    <ion-fab-button size="small" (click)="setIsVisible()">
      <ion-icon name="list-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <app-finance-list class="masquer-mode-web"  (checkOutput)="getCheck($event)" (recalculeTotal)="calculeTotal()" *ngIf="isVisible" [finances]="sortByOrdreAsc(finances)"></app-finance-list>


</ion-content>
