<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>Plats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>

  <ion-list *ngFor="let plat of this.plats; let i = index">
    <ion-item button (click)="this.goDetail(plat.libelle, 'ingredient')">
      <ion-label>
        <h3>{{ plat.libelle }}</h3>
      </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="this.goDetail('plat-add')">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
