.slide-content{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    // height: 1500px;
    // background: rgb(176, 173, 187);
}

.card-position{
    width: 100%;
}

.showPlat{
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    height: 100px;
    line-height: 100px;
}

.detail-image{
    width: 180px;
    margin-bottom: 40px;
}

.slide-dimension{
    // background: blue;
    height: 100%;
}

.card-dimension{
    margin-top: 20%;
    height: 80%;
}