<ion-list>
  <ion-item-sliding *ngFor="let epargne of orderByDate(epargneEtApport)">
  <ion-item button detail="true" (click)="put(epargne)" [disabled]="epargne.type == 'Retrait'">
    <ion-label>
      <h3>
        {{ formatDate(epargne.date).toLocaleDateString() }} : 
        {{ epargne.type }}
        <span class="masquer-mode-mobile">{{ epargne.description }}</span>
        <ion-chip color="success" 
                  slot="end">{{ epargne.montant }} xpf</ion-chip>
      </h3>
    </ion-label>
  </ion-item>
  <ion-item-options side="start" *ngIf="epargne.type == 'Epargne'">
    <ion-item-option (click)="this.delete(epargne)" style="background: rgb(156, 46, 46);">
      Supprimer    
    </ion-item-option>
  </ion-item-options>
  <!-- <ion-item-options side="end">
    <ion-item-option (click)="this.closeEpargne(epargne)" style="background: rgb(65, 77, 255);" [disabled]="epargne.type == 'Retrait'">
      Check    
    </ion-item-option>
  </ion-item-options> -->

</ion-item-sliding>
</ion-list>