<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-list>
    <ion-item *ngFor="let detail of listeArticle">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>{{ detail.libelle }}</ion-label>
          </ion-col>
          <ion-col>
            {{ detail.prixUnitaire }} xpf
          </ion-col>
          <ion-col>
            <ion-checkbox [checked]="detail.actif"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>


</ion-content>
