<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list style="margin-top: 5%;">
    <ion-item-sliding *ngFor="let detail of listeArticle">
      <ion-item-options side="start">
        <ion-item-option >Favorite</ion-item-option>
        <ion-item-option color="danger" >Share</ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label>{{ detail.libelle }}</ion-label>
        <ion-label style="text-align: right;">Qté:{{ detail.quantite }}</ion-label>
        <ion-label style="text-align: right;">PU:{{ detail.prixUnitaire }} xpf</ion-label>
        <ion-label style="text-align: right;"> {{ (detail.quantite-0) * (detail.prixUnitaire-0) }} xpf</ion-label>
        <ion-checkbox style="margin-left: 30px;" [checked]="detail.actif"></ion-checkbox>
      </ion-item>
  
      <ion-item-options side="end">
        <ion-item-option >Unread</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>





  <!-- <ion-list>
    <ion-item *ngFor="let detail of listeArticle">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>{{ detail.libelle }}</ion-label>
          </ion-col>
          <ion-col>
            {{ detail.prixUnitaire }} xpf
          </ion-col>
          <ion-col>
            <ion-checkbox [checked]="detail.actif"></ion-checkbox>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list> -->


</ion-content>
