<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Apports</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3 style="text-align: center;">{{ total }} XPF</h3>

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- MODE TELEPHONE -->
  
  <app-apports-list [apports]="apports" class="masquer-mode-mobile"></app-apports-list>
  
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" (click)="post()"  class="masquer-mode-mobile">
    <ion-fab-button size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <!-- MODE WEB -->

  <ion-fab slot="fixed" horizontal="center" vertical="center" (click)="post()" class="masquer-mode-web" *ngIf="!listeOn">
    <ion-fab-button size="large">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom" (click)="setListeOn()" class="masquer-mode-web">
    <ion-fab-button size="small">
      <ion-icon name="list-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-apports-list [apports]="apports" *ngIf="listeOn" class="masquer-mode-web"></app-apports-list>

</ion-content>
