<ion-header>
  <ion-toolbar>
    <ion-title (click)="this.loadMenuOfTheWeek()">Menu de la semaine</ion-title>
    <p id="spinner" style="text-align: center;">{{ menuDeLaSemaine.dateDebut }} - {{ menuDeLaSemaine.dateFin }}</p>
    
  </ion-toolbar>
</ion-header>

<ion-content class="slide-content">

  <ion-grid>
    <ion-row *ngFor="let groupJour of this.jourDelaSemaine">

      <ion-col *ngFor="let jour of groupJour" (click)="selectionMenuDuJour(jour.jour)"
              [ngClass]="jour.jour !== '' ? 'col-style' : 'test'"> 
        

        <div class="nomTitre" *ngIf="jour.jour !== ''">
          <h4>{{ jour.jour }}</h4>
        </div>


        <div class="art-opacite" *ngIf="jour.menu !== ''">
          <h2>{{ jour.menu }}</h2>
        </div>

        <img class="ImgDuMenu" src="assets/plat.png"  *ngIf="jour.jour !== '' && jour.menu === ''">

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
