.payeur{
    background: rgb(71, 69, 209);
    padding: 5px;
    color: white;
    font-size: small;
}

.tag{
    background: rgb(160, 209, 69);
    padding: 5px;
    color: black;
    font-size: small;
    margin-right: 10px;
}

.magasin{
    background: #979e59;
    padding: 5px;
    color: black;
    font-size: small;
    margin-right: 10px;
}