#wait{
    position: absolute; left: 33%; top: 30%;
    z-index: 1;
    height: 100px; line-height: 100px;
    width: 33%;
    text-align: center;
    // background: gray;
    opacity: 0.8;
}

.elementOff{
    background: blue;
    opacity: 0.8;
}

