<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses"></ion-back-button>
    </ion-buttons>

    <ion-title>Votre liste de course</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rechercheAvance">
  <app-search-article 
    (articlesOutput)="selectArticle($event)"></app-search-article>
</ion-content>

<ion-content *ngIf="!rechercheAvance" [fullscreen]="true" [style.visibility]="content_visibility">


  <div style="display: flex; justify-content: center; padding: 10px;">
    <ion-chip style="font-weight: bold; font-size: x-large;" color="white">{{ totalCourse }} XPF</ion-chip>
  </div>
  
  <ion-list>
    <ion-item-sliding *ngFor="let coursedetail of coursedetails">
      <ion-item button (click)="put(coursedetail)" [disabled]="coursedetail.checked">
        <ion-label [ngStyle]="{'color':coursedetail.checked ? 'brown' : 'white' }">{{ coursedetail.libelle }}</ion-label>
        <ion-label [ngStyle]="{'color':coursedetail.checked ? 'brown' : 'white' }">x {{ coursedetail.quantite }}</ion-label>
        <ion-label  [ngStyle]="{'color':coursedetail.checked ? 'brown' : 'white' }">{{ coursedetail.total }} xpf</ion-label>
        <ion-icon *ngIf="coursedetail.checked" name="lock-closed-outline"></ion-icon>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option style="background: red;" (click)="delete(coursedetail)">
          Supprimer    
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="check(coursedetail)">
          Check    
          <ion-icon *ngIf="!coursedetail.checked" name="lock-closed-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button size="small" (click)="postArticleWithCalculator()">
      <ion-icon name="calculator-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" (click)="postArticleWithBarCode()">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" (click)="postArticle()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
