<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Votre liste de course 
      <ion-icon style="margin-left: 50px;" (click)="setIsButtonActif()" name="apps-outline" *ngIf="!isModeCourseRapide"></ion-icon>
    </ion-title>


  </ion-toolbar>
</ion-header>

<ion-content *ngIf="rechercheAvance">
  <app-search-article 
    (articlesOutput)="selectArticle($event)"></app-search-article>
</ion-content>

<ion-content *ngIf="!rechercheAvance" [fullscreen]="true" [style.visibility]="content_visibility">


  <div style="display: flex; justify-content: center; padding: 10px;">
    <ion-chip style="font-weight: bold; font-size: x-large;" color="white">{{ totalCourse }} XPF</ion-chip>
  </div>
  
  <ion-list *ngIf="!isModeCourseRapide">
    <ion-item-sliding *ngFor="let coursedetail of coursedetails">
      <ion-item button (click)="put(coursedetail)" [disabled]="coursedetail.checked || coursedetail.firebaseMethod === 'DELETE'">
        <ion-label [ngStyle]="{'color':coursedetail.checked ? 'brown' : 'white' }">{{ coursedetail.libelle }}</ion-label>
        <ion-label [ngStyle]="{'color':coursedetail.checked ? 'brown' : 'white' }">x {{ coursedetail.quantite }}</ion-label>
        <ion-label  [ngStyle]="{'color':coursedetail.checked ? 'brown' : 'white' }">{{ coursedetail.total }} xpf</ion-label>
        <ion-icon *ngIf="coursedetail.checked" name="lock-closed-outline"></ion-icon>
      </ion-item>

      <ion-item-options side="start" >
        <ion-item-option *ngIf="coursedetail.libelle === 'Sans titre'" style="color: rgb(255, 196, 216); background: rgb(39, 24, 102);" (click)="associerUnCodeBarreAArticleSansTitre(coursedetail)">
          BarreCode    
        </ion-item-option>
        <ion-item-option style="background: red;" (click)="delete(coursedetail)">
          Supprimer    
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="check(coursedetail)">
          Check    
          <ion-icon *ngIf="!coursedetail.checked" name="lock-closed-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
  
  <ion-fab slot="fixed" horizontal="end" vertical="bottom" *ngIf="isButtonActif && !isModeCourseRapide">
    <ion-fab-button size="large" (click)="postArticleWithCalculator()" color="success">
      <ion-icon name="calculator-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" (click)="postArticleWithBarCode()">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" (click)="dechargerMemo()">
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" (click)="postArticle()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- MODE isModeCourseRapide -->

  <ion-fab slot="fixed" horizontal="center" vertical="center" (click)="postArticleWithCalculator()" *ngIf="isModeCourseRapide && !isAfficherListe">
    <ion-fab-button size="large">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-fab slot="fixed" horizontal="end" vertical="bottom" *ngIf="isModeCourseRapide">
    <ion-fab-button size="small" *ngIf="isAfficherListe" color="danger" (click)="regler()">
      <ion-icon name="journal-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" (click)="setAfficherListe()">
      <ion-icon name="list-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <ion-list *ngIf="isModeCourseRapide && isAfficherListe">
    <ion-item-sliding *ngFor="let coursedetail of coursedetails">
      <ion-item button (click)="put(coursedetail)" [disabled]="coursedetail.checked || coursedetail.firebaseMethod === 'DELETE'">
        <ion-label [ngStyle]="{'color':coursedetail.checked ? 'brown' : 'white' }">{{ coursedetail.libelle }}</ion-label>
        <ion-label [ngStyle]="{'color':coursedetail.checked ? 'brown' : 'white' }">x {{ coursedetail.quantite }}</ion-label>
        <ion-label  [ngStyle]="{'color':coursedetail.checked ? 'brown' : 'white' }">{{ coursedetail.total }} xpf</ion-label>
        <ion-icon *ngIf="coursedetail.checked" name="lock-closed-outline"></ion-icon>
      </ion-item>

      <ion-item-options side="start" >
        <ion-item-option *ngIf="coursedetail.libelle === 'Sans titre'" style="color: rgb(255, 196, 216); background: rgb(39, 24, 102);" (click)="associerUnCodeBarreAArticleSansTitre(coursedetail)">
          BarreCode    
        </ion-item-option>
        <ion-item-option style="background: red;" (click)="delete(coursedetail)">
          Supprimer    
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="check(coursedetail)">
          Check    
          <ion-icon *ngIf="!coursedetail.checked" name="lock-closed-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>















</ion-content>
