<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Configurer vos articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.visibility]="content_visibility">

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngFor="let famille of familles">
    <ion-item>
      <ion-label>
        <h3>{{ famille.libelle }}</h3>

        <ion-list>
          <div *ngFor="let article of articles">
          <div *ngIf="article.familleId === famille.id">
          <ion-item button detail="true" (click)="put(article)"  [disabled]="article.firebaseMethod === 'DELETE'">
            <ion-icon *ngIf="article.codeBarre != null || article.codeBarre != undefined" name="barcode-outline"></ion-icon> 
            <ion-label>
              <h3>{{ article.libelle }}</h3>
            </ion-label>
          </ion-item>
        </div>
        </div>
        </ion-list>

      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button size="small" (click)="postArticleByCodeBarre()">
      <ion-icon name="barcode"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" (click)="post()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
