<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Tableau de bord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-button style="display: block; margin: auto; width: 60%; margin-top: 10px;" 
  (click)="changeDate()" shape="round">Modifier la date</ion-button>

  <div style="margin: 50px;" *ngIf="isInputDateActif">
    <ion-datetime presentation="month-year" (ionChange)="selectDateTime($event)"></ion-datetime>
  </div>

  
  <table *ngIf="!isInputDateActif">
    <h5 style="margin-right: 10px;">Dépense de <u>{{ getLibelleMois(month-1) }}</u></h5>
    <tr style="background: rgb(135, 71, 207);">
      <th>Utilisateurs</th>
      <th>Montant course</th>
      <th>Montant dépense</th>
    </tr>
    <tr style="text-align: center;" *ngFor="let data of utilisateurByDepense">
      <td>{{ data.utilisateur }}</td>
      <td>{{ data.montantCourse }}</td>
      <td>{{ data.montantdepense }}</td>
    </tr>
  </table>

  <h5>Budget restant : {{ budgetRestant }}</h5>

</ion-content>
