<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Tableau de bord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-datetime value="today" min="today" max="today"></ion-datetime> -->

  <table>
    <tr style="background: rgb(135, 71, 207);">
      <th>Utilisateurs</th>
      <th>Dépenses</th>
    </tr>
    <tr style="text-align: center;" *ngFor="let data of utilisateurByDepense">
      <td>{{ data.utilisateur }}</td>
      <td>{{ data.depense }}</td>
    </tr>
  </table>

</ion-content>
