<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Tableau de bord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <table>
    <tr style="background: rgb(135, 71, 207);">
      <th>Utilisateurs</th>
      <th>Dépenses</th>
      <th>Liste de course créé</th>
    </tr>
    <tr style="text-align: center;">
      <td>Gilles</td>
      <td>1000 xpf</td>
      <td>3</td>
    </tr>
  </table>

</ion-content>
