<ion-header [translucent]="true">
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Liste de course</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" [pullFactor]="0.5" [pullMin]="100" [pullMax]="200" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let course of courses">
      <ion-item button detail="true" (click)="put(course.id)" [disabled]="!course.actif || course.firebaseMethod === 'DELETE'">
        <ion-icon *ngIf="course.isFocus" name="pencil-outline"></ion-icon>
        <ion-label>
          <h3><ion-chip>{{ course.date }}</ion-chip>  {{ getLibelleMagasin(course.magasinId) }} - {{ course.montantTheorique }} XPF</h3>
          <ion-chip color="success" *ngIf="course.payeurId !== undefined">{{ getLibellePayeur(course.payeurId) }}</ion-chip>
        </ion-label>
        <ion-icon *ngIf="!course.actif" name="lock-closed-outline"></ion-icon>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option *ngIf="course.actif" (click)="activer(course)" style="background: rgb(156, 46, 46);">
          Clôturer    
        </ion-item-option>
        <ion-item-option *ngIf="!course.actif" (click)="activer(course)" style="background: rgb(100, 42, 209);">
          Déclôturer    
        </ion-item-option>
        <ion-item-option (click)="supprimer(course)" style="background: rgb(51, 14, 14);">
          Supprimer    
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="end">
        <ion-item-option (click)="setIsFocus(course)">
          Focus   
        </ion-item-option>
        <ion-item-option (click)="setPayeur(course)">
          Payeur   
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>  

  <ion-fab slot="fixed" horizontal="end" vertical="bottom" >
    <ion-fab-button size="small" routerLink="../memo">
      <ion-icon name="book-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" (click)="setIsAfficherCourseMasquer()">
      <ion-icon name="filter-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button size="small" (click)="post()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>
