<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Historique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list *ngFor="let magasin of magasins">
    <ion-item>
      <ion-icon name="storefront-outline"></ion-icon> 
      <ion-label style="margin-left: 10px;">{{ magasin.libelle }}</ion-label>
    </ion-item>

      <ion-list>

        <ion-item-sliding *ngFor="let historique of historiqueprix">
          <div *ngIf="historique.magasinid === magasin.id">
          <ion-item button [disabled]="historique.firebaseMethod === 'DELETE'">
              <ion-icon style="margin-right: 10px;" name="trending-up-outline" *ngIf="historique.prixAncien < historique.prixNouveau"></ion-icon>
              <ion-icon style="margin-right: 10px;" name="trending-down-outline" *ngIf="historique.prixAncien > historique.prixNouveau"></ion-icon>
                {{ historique.libelle }}<br> {{ historique.prixAncien }} XPF > {{ historique.prixNouveau }} XPF
           </ion-item>
    
           <ion-item-options side="start">
            <ion-item-option style="background: red;" (click)="deleteDefinitivement(historique)">
              Supprimer   
            </ion-item-option>
            </ion-item-options>
          </div>
        </ion-item-sliding>
        
      </ion-list>

    
  </ion-list>




</ion-content>
