<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3/plats"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un plat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="slide-content">
  <br>
  <form [formGroup]="formgroup" (ngSubmit)="onSubmitForm()">


    <ion-slides #slides [options]="slideOpts" style="padding-top: 50%; padding-bottom: 50%;">

      <!-- SLIDE 1 -->
      <ion-slide >

        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Choisir<br>un nom du plat</h1>
              <h5>1/4</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input (click)="slideUn(slides)" id="slideUn" type="text" placeholder="Ecrire ici" formControlName="libelle" oninput="this.value = this.value.charAt(0).toUpperCase() + this.value.substr(1);"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-slide>

      <!-- SLIDE 2 -->
      <ion-slide>

        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Ajouter<br>un ingredient</h1>
              <h5>2/4</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Ajouter un Ingrédient</ion-label>
                <ion-select (ionChange)="slideNext(slides)" id="slideDeux" formControlName="ingredient">
                  <ion-select-option *ngFor="let article of this.articles" value="{{article.code}}">{{ this.article.libelle }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-slide>

      <ion-slide >

        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>Choisir<br>une quantité</h1>
              <h5>3/4</h5>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input (click)="slidetrois(slides)" id="slidetrois" type="number" placeholder="Ecrire ici" formControlName="quantite"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-button style="position:absolute; right: 20px; margin-top: 20px;" (click)="this.terminerSlideTrois(slides)" color="warning">Terminer</ion-button>
          </ion-row>
        </ion-grid>


      </ion-slide>

      <!-- SLIDE 5 -->
    <ion-slide >
      <ion-grid>
        <ion-row>
          <ion-col>
            <h1>Valider vos choix</h1>
            <h5>4/4</h5>
            <br>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary">Oui</ion-button>
            <ion-button color="danger">Non</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>




    </ion-slides>













  <!-- <ion-item-group>



  <br>
  

  <br>
  <ion-item>
    <ion-label>Quantité</ion-label>
    <ion-input type="number" placeholder="Quantité" formControlName="quantite"></ion-input>
  </ion-item>

  <br>

  <section>

    <ion-button (click)="loadIngredient()" expand="full">Ajouter</ion-button>

  </section>
  
</ion-item-group>


  <section>
    <ion-button type="submit" expand="full">Enregistrer</ion-button>
  </section>


  <ion-item-group>
    <ion-item-divider>
      <ion-label>Liste des articles ajoutés</ion-label>
    </ion-item-divider>

    <ion-list>
      <ion-item *ngFor="let ingredient of ingredients">
        <ion-label>{{ ingredient.libelle }}</ion-label>
        <ion-label>Qté : {{ ingredient.quantite }}</ion-label>
      </ion-item>
    </ion-list>
    
  </ion-item-group> -->


</form>

</ion-content>
