<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3/plats"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un plat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <form [formGroup]="formgroup" (ngSubmit)="onSubmitForm()">

  <ion-item-group>
  <ion-item>
    <ion-label>Nom du plat</ion-label>
    <ion-input formControlName="libelle" placeholder="Nom du plat" ></ion-input>
  </ion-item>

  <br>
  <ion-item>
    <ion-label position="floating">Ajouter un Ingrédient</ion-label>
    <ion-select formControlName="ingredient">
      <ion-select-option *ngFor="let article of this.articles" value="{{article.code}}">{{ this.article.libelle }}</ion-select-option>
    </ion-select>

    <ion-button (click)="loadIngredient()" slot="end" color="success">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>

  </ion-item>
  <br>
  <section>

    <ion-button type="submit" expand="full">Enregistrer</ion-button>

  </section>
</ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Liste des articles ajoutés</ion-label>
    </ion-item-divider>

    <ion-list>
      <ion-item *ngFor="let ingredient of ingredients">
        <ion-label>{{ ingredient.libelle }}</ion-label>
      </ion-item>
    </ion-list>
    
  </ion-item-group>


  <!-- <br>
  <ion-item>
    <ion-label position="floating">Ingrédient 1</ion-label>
    <ion-select formControlName="ingredient0">
      <ion-select-option *ngFor="let article of this.articles" value="{{article.code}}">{{ this.article.libelle }}</ion-select-option>
    </ion-select>
  </ion-item>

  <br>
  <ion-item>
    <ion-label position="floating">Ingrédient 2</ion-label>
    <ion-select formControlName="ingredient1">
      <ion-select-option *ngFor="let article of this.articles" value="{{article.code}}">{{ this.article.libelle }}</ion-select-option>
    </ion-select>
  </ion-item>

  <br>
  <ion-item>
    <ion-label position="floating">Ingrédient 3</ion-label>
    <ion-select formControlName="ingredient2">
      <ion-select-option *ngFor="let article of this.articles" value="{{article.code}}">{{ this.article.libelle }}</ion-select-option>
    </ion-select>
  </ion-item>

  <br>
  <ion-item>
    <ion-label position="floating">Ingrédient 4</ion-label>
    <ion-select formControlName="ingredient3">
      <ion-select-option *ngFor="let article of this.articles" value="{{article.code}}">{{ this.article.libelle }}</ion-select-option>
    </ion-select>
  </ion-item>

  <br>
  <ion-item>
    <ion-label position="floating">Ingrédient 5</ion-label>
    <ion-select formControlName="ingredient4">
      <ion-select-option *ngFor="let article of this.articles" value="{{article.code}}">{{ this.article.libelle }}</ion-select-option>
    </ion-select>
  </ion-item> -->


  <!-- <br>
  <ion-button color="success" (click)="ajouterIngredient()">Ajouter un ingredient</ion-button>
  <br>
  <br>

  <span id="newInput"></span> -->
  
</form>

</ion-content>
