<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Les articles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <br>



    <ion-toolbar>
      <ion-searchbar [(ngModel)]="searchValue"></ion-searchbar>
    </ion-toolbar>


  <ion-item-group *ngFor="let famille of familles; let index = index">

    <ion-item-divider *ngIf="isFamilleContainsAritcle(famille)">
      <ion-label>{{ famille.libelle }}</ion-label>
    </ion-item-divider>

    <span *ngFor="let article of this.articles; let i = index">

      <ion-item-sliding *ngIf="article.famille === famille.libelle">
    
        <ion-item button (click)="modifierUnArticle(article)">
          <ion-label>
            <h3>{{ article.libelle }}</h3>
          </ion-label>
          <ion-label>
            <h3 slot="end" style="text-align: right;">{{ article.prix }} xpf</h3>
          </ion-label>
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
  
        <ion-item-options side="end">
          <ion-item-option (click)="goToArticleAdd()">Ajouter</ion-item-option>
          <ion-item-option color="medium" (click)="modifierUnArticle(article)">Modifier</ion-item-option>
          <ion-item-option color="danger" (click)="deleteArticle(article)">Supprimer</ion-item-option>
          <!-- <ion-item-option color="danger" (click)="modifierUnArticle(article)">Modifier</ion-item-option> -->
        </ion-item-options>
  
      </ion-item-sliding>
    </span>

  </ion-item-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="this.getArticle()">
      <ion-icon name="sync-outline"></ion-icon>
    </ion-fab-button>
    <br>
    <ion-fab-button (click)="goToArticleAdd()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 

</ion-content>
