<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Menu de la semaine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list style="margin: 15px;">
    <ion-item *ngFor="let menu of menus">
      <ion-icon aria-hidden="true" name="calendar" slot="start"></ion-icon>
      <ion-label style="cursor: pointer;" (click)="put(menu)">{{ menu.jour }} - {{ menu.libelle }}</ion-label>
      <button (click)="sendToCourse(menu)">SEND</button>
    </ion-item>
  </ion-list>

  <!-- <button (click)="post()">POST</button> -->

</ion-content>
