<ion-header [translucent]="true">
  <ion-toolbar>
        
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>Menu de la semaine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <span *ngIf="!isSeachPlat">
  <table>
    <tr>
      <td>Année : </td>
      <td>
        <ion-select aria-label="Année" interface="popover" placeholder="Sélection" [(ngModel)]="selectedYear" (ionChange)="onSelectionChange()">
          <ion-select-option *ngFor="let annee of getLastFourYears()" [value]="annee">{{ annee }}</ion-select-option>
        </ion-select>
      </td>
      <td>Numéro de semaine : </td>
      <td>
        <ion-select aria-label="Fruit" interface="popover" placeholder="Selection" [(ngModel)]="selectedWeek" (ionChange)="onSelectionChange()">
          <ion-select-option *ngFor="let i of generateNumbers(52)" [value]="i">{{ i }} <span *ngIf="i === weekReference">*</span></ion-select-option>
        </ion-select>
      </td>
    </tr>
  </table>
  
  <ion-list style="margin: 15px;">
    <ion-item-sliding  *ngFor="let menu of menus">
    <ion-item>
      <ion-icon aria-hidden="true" name="calendar" slot="start"></ion-icon>
      <ion-label style="cursor: pointer;" (click)="putMenu(menu)">{{ menu.jour }} - {{ menu.libelle }}</ion-label>
      <ion-icon name="paper-plane-outline" (click)="sendToCourse(menu.plat)" style="cursor: PO;"></ion-icon>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="effacer(menu)">Effacer</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
  </ion-list>

  <!-- <button (click)="post()">POST</button> -->

  </span>

<app-menu-semaine-recherche-plat (closeSearchPlat)="closeSearchPlatComponent()"
                                  (platSelected)="updateMenu($event)"
                                 *ngIf="isSeachPlat"></app-menu-semaine-recherche-plat>

</ion-content>
